<div>
    <h2 style="text-align: center">Cost Object Assignments</h2>
</div>
<table id="assignment" class="display">

    <thead>

    <tr>
        <th>ModelID</th>
        <th>ID</th>
        <th>GL Account</th>
        <th>Sender WBS</th>
        <th>Allocation Driver</th>
        <th>Receiver</th>
    </tr>

    </thead>

    <tfoot>
    <tr>
        <th>ModelID</th>
        <th>ID</th>
        <th>GL Account</th>
        <th>Sender WBS</th>
        <th>Allocation Driver</th>
        <th>Receiver</th>
    </tr>
    </tfoot>

    <tbody>
        {{#each assignment}}
            <tr>
                <td>{{MODELID}}</td>
                <td>{{ID}}</td>
                <td>{{'GL ACCOUNT'}}</td>
                <td>{{'SENDER WBS'}}</td>
                <td>{{'ALLOCATION DRIVER'}}</td>
                <td>{{'RECEIVER'}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<script>
    var table = $('#assignment').DataTable();
</script>