<table class="table table-hover">
    <thead>
        <tr>
            <th>ModelID</th>
            <th>ID</th>
            <th>GL Account</th>
            <th>Sender WBS</th>
            <th>Allocation Driver</th>
            <th>Receiver</th>
        </tr>
    </thead>
    <tbody>
        {{#each assignment}}
            <tr>
                <td>{{MODELID}}</td>
                <td>{{ID}}</td>
                <td>{{'GL ACCOUNT'}}</td>
                <td>{{'SENDER WBS'}}</td>
                <td>{{'ALLOCATION DRIVER'}}</td>
                <td>{{'RECEIVER'}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>